.App {
  text-align: center;
}

.App-logo {
}

.App-header {
  background-color: #1457a5;
  height: 45px;
  padding: 20px;
  color: white;
  display: flex;
  .App-title {
    font-size: 1.5em;
    align-items: center;
  }
}


.App-intro {
  font-size: large;
}