@import 'app';

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

img {
  height: 350px;
  overflow: hidden;
}

.image-container {
  height: 350px;
}

nav {
  ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    li {

    }
  }
}

.nav-item {
  flex: 1;
  height: 35px;
}

.halfsize {
  width: 50px;
  height: 50px;
}
.img-holder {
  width: 150px;
  height: 150px;
  position: relative;
  overflow: hidden;
}

.img-holder img {
  top: 0;
  left: 0;
  width: auto;
  max-width: 150px;
  height: auto;
  max-height: 100px;
}

.pledge-container {
  text-align: center;
}

.bottom-nav {
  width: 100%;
  height: 50px;
  position: absolute;
  border-top: #ccc;
  bottom: 0;
}