@import 'app';

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

img {
  height: 300px;
}

.image-container {
    height: 300px;
}

.navbar {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.nav-item {
    flex: 1;
    border: 1px solid black;
    height: 35px;
}